body {
  background: #D9EDF3;
}


input {
  width: 646px;
  height: 71px;
  
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;


  

  background: #C5E2EB;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);


  /* font */
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #919191;
  text-align: center;
}